.clients {
	display: flex;
	margin-top: 50px;
}
.clients__item:not(:first-child) {
	margin-left: $item-gap;
}
.clients__link {
	display: block;

	padding: 16px 32px;

	fill: #afb1b8;
	border: 1px solid #afb1b8;
	border-radius: 4px;

	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:focus,
	&:hover {
		fill: $brand-color;
		border-color: $brand-color;
	}
}
.clients__logo {
}
